.sectionContainer {
    padding-top: 120px;

    @media (max-width: 767px) {
        width: 100%;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .sectionContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        width: 100%;

        @media (max-width: 767px) {
            flex-direction: column;
        }

        .sectionInfo {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            max-width: 32rem;

            h1 {
                color: #000;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            h3 {
                color: #000;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 38px;
                opacity: 0.8;
            }
        }

        .sectionActions {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 50%;
            height: 405px;
            padding: 30px;
            gap: 10px;
            flex-shrink: 0;
            border-radius: 30px;
            border: 1px solid rgba(0, 0, 0, 0.20);
            background: #FFF;
            box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.25);
            position: relative;
            top: -80px;

            @media (min-width: 1280px) {
                width: 652px;
            }

            @media (max-width: 767px) {
                width: unset;
                top: unset;
            }
            

            .customSelect {
                appearance: none;
                background: url('/down-icon.svg') no-repeat scroll calc(100% - 30px) center transparent;
                background-size: 14px;
                border: none;
                width: 100%;
                display: flex;
                padding: 20px 30px;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;
                border-radius: 10px;
                border: 1px solid rgba(23, 23, 23, 0.10);
                cursor: pointer;
                color: #171717;
                font-family: '__Rubik_98e1b5';
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                transition: 0.3s ease;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.0549019608);
                }

                &:active {
                    background-color: #e0e0e0;
                }

                &:focus {
                    border-color: #00000051;
                    outline: none;
                    box-shadow: 0 0 0px 5px #00000017;
                    transition: border-color 0.3s ease, box-shadow 0.3s ease;
                }

                option {
                    font-size: 24px;
                    padding: 10px;
                    background-color: #fff;
                    color: #171717;

                    &:hover {
                        background-color: #f0f0f0; // Adjust as needed
                    }

                    &:active {
                        background-color: #e0e0e0; // Adjust as needed
                    }
                }
            }
        }
    }
}