.tooltipContainer {
  position: relative;
  display: inline-block;
  z-index: 9999;
}

.tooltip {
  width: 140px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #131313;
  color: #fff;
  z-index: 99999;
}